@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";

$container-max-widths: (
    sm: 540px,
    md: 540px,
    lg: 720px,
    xl: 960px,
    xxl: 1140px
);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../node_modules/bootstrap/scss/utilities/api";

$transition: all .2s linear;

body {
    font-family: 'Poppins', sans-serif !important;
}

//HEADER

.header {
    position: absolute;
    width: 100%;
    font-size: .875rem;
    background-color: #fff;
    

    ul {
        li {
            &:first-child{
                a{
                    
                    opacity: 1;
                }
            }
            a {
                color: #000;
                opacity: .75;
                transition: $transition;
            }

            &:last-child {
                a {
                    opacity: 1;
                    button{
                        color: #fff;
                    }
                }
            }

            &:hover {
                a {
                    opacity: 1;
                }
            }
        }
    }

    .contact-button {
        border: transparent 1px solid;
        background-color: #009fe3;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: $transition;

        &:hover {
            border: #fff 1px solid;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
}

//HEADER