@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import 'mixin';
@import "/node_modules/bootstrap/scss/bootstrap.scss";
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";


$container-max-widths: (
    sm: 540px,
    md: 540px,
    lg: 720px,
    xl: 960px,
    xxl: 1140px
);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../node_modules/bootstrap/scss/utilities/api";

$transition: all .2s linear;


body {
    font-family: 'Poppins', sans-serif !important;

    a {
        text-decoration: none !important;
    }

    p {
        margin-bottom: 0 !important;
    }
}

//HEADER

.header {
    z-index: 999;
    width: 100%;
    font-size: .950rem;
    background-color: #fff;
    position: sticky;
    top: 0;

    .header-middle {
        ul {
            li {
                border-bottom: transparent 1px solid;
                transition: $transition;

                a {
                    color: #000;
                    opacity: .75;
                    transition: $transition;
                }

                &:hover {
                    a {
                        opacity: 1;
                    }
                }

                &:hover {
                    border-bottom: #009fe3 1px solid;
                }
            }

            .active {
                a {
                    opacity: 1;
                }
            }
        }

        .contact-button {
            border: none;
            background-color: #009fe3;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: $transition;

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

        .products {
            .dropdown-arrow {
                transition: $transition;
            }

            &:hover {
                .dropdown {
                    display: block;
                }

                .dropdown-arrow {
                    transform: rotate(-180deg);
                }
            }
        }

        .dropdown {
            position: absolute;
            background-color: #fff;
            display: none;
            border-radius: 0px 0px 12px 0px;

            ul {
                li {
                    padding: 10px 20px;
                    width: 250px;
                    border: none;

                    &:last-child {
                        border-radius: 0px 0px 12px 0px;
                    }

                    &:hover {
                        background-color: #f2f2f2;

                        .products {
                            &:hover {
                                .dropdown {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .header-right {
        a {
            button {

                font-size: .900rem;
            }
        }
    }
}

.navbar-mobile {
    position: fixed;
    top: 0;
    z-index: 21;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .mobile-menu-button {
        width: 57px;
        height: 57px;
        box-shadow: 0px -2px 12px #EBE9F3;
    }
}

.mobile-menu {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    transition: $transition;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    .mobile-menu-links {

        .list-unstyled {
            li {
                ul {
                    padding-left: 12px;
                    margin-bottom: 0px !important;

                    li {
                        &:last-child {
                            border: none !important;
                        }
                    }
                }

                border-bottom: #515151 1px solid;
                padding-top: 12px;
                padding-bottom: 12px;

                a {
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

//HEADER

// CAROUSEL

.shape {
    z-index: 10;
    position: absolute;
}

.carousel {
    position: relative;

    .carousel-indicators {
        position: absolute;
        transform: rotate(90deg);
        left: -2000px;
        top: 20px;

        button {
            width: 15px;
            height: 15px;
            border-radius: 100%;
        }
    }

    .carousel-item {
        img {
            height: 775px;
            object-fit: cover;
            filter: brightness(.75);
        }

        @media screen and (max-width:992px) {
            height: 600px;
        }
    }

    .carousel-caption {
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        color: white;
        text-align: start;
        padding-bottom: 0px;
        padding-top: 2rem;

        h3 {
            z-index: 11;
            font-size: 60px;
            font-weight: 600;

            @media screen and (max-width:992px) {
                @include heading-type-3;
            }
        }

        p {
            height: 25px;
            width: 600px;
            z-index: 11;
            font-size: 16px;

        }
    }

}

// CAROUSEL

.categories {
    background-color: #fbfbfb;

    .category-box {
        width: 200px;
        height: 150px;
        position: relative;

        img {
            transition: $transition;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
}

//ABOUT

.about {
    .about-left {
        p {
            line-height: 30px;
        }
    }
}

//ABOUT

//SHOWCASE

.showcase {
    background-color: #fbfbfb;

    .products {
        .product {
            overflow: hidden;
            padding-left: 0;
            padding-right: 0;

            img {
                transition: $transition;
                width: 100%;
                object-fit: cover;
            }

            &:hover {
                img {
                    transform: scale(1.05);
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }
        }
    }
}

//SHOWCASE

// REFERENCES

.references {
    background-color: #fbfbfb;
    $animationSpeed: 30s;

    // Animation
    @keyframes scroll {
        0% {
            transform: translateX(-1250px);
        }

        100% {
            transform: translateX(calc(-250px * 7))
        }
    }


    // Styling
    .slider {
        // background: white;
        // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 960px;

        &::before,
        &::after {
            @include white-gradient;
            content: "";
            height: 100px;
            position: absolute;
            width: 150px;
            z-index: 2;
        }

        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        &::before {
            left: 0;
            top: 0;
        }

        .slide-track {
            animation: scroll $animationSpeed linear infinite alternate;
            display: flex;
            width: calc(250px * 14);
        }

        .slide {
            height: 100px;
            width: 200px;
        }
    }
}

// REFERENCES

//MAP

.location {
    .google-map {
        height: 400px;
        width: 100%;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

//MAP

//FOOTER

.footer {
    background-color: #1f232a;
    border-bottom: #fbfbfb .05rem solid;

    ul {
        li {
            a {
                transition: $transition;

                &:hover {
                    color: #fff !important;
                }
            }
        }
    }
}

.copyright {
    background-color: #1f232a;
    font-size: 14px;
}

//FOOTER

//MODAL

.modal-backdrop {
    opacity: 0 !important;
}

//MODAL

//SCROLL DOWN

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    background-color: transparent;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1);
    padding: 5px;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

//SCROLL DOWN

//CATEGORY

.product-image {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    img {
        border-radius: 4px;
        transition: $transition;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    &:hover {
        img {
            transform: scale(1.03);
        }
    }
}

//CATEGORY

//LOADER

//custom mixins
@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    transform: $transform;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    animation: $animation;
}

@mixin keyframes($name, $name1) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin opacity($opacity) {
    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
    opacity: $opacity;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

//variables
$size: 50px;
$primary-color: #009fe3;

//cube only
.cube-folding {
    width: $size;
    height: $size;
    display: inline-block;
    @include transform(rotate(45deg));
    font-size: 0;

    span {
        position: relative;
        width: 25px;
        height: 25px;
        @include transform(scale(1.1));
        display: inline-block;

        &::before {
            content: "";
            background-color: $primary-color;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 25px;
            height: 25px;
            -moz-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            @include animation(folding 2.5s infinite linear both);
        }
    }

    .leaf2 {
        @include transform(rotateZ(90deg) scale(1.1));

        &::before {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
            background-color: #e6007e
        }
    }

    .leaf3 {
        @include transform(rotateZ(270deg) scale(1.1));

        &::before {
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
            background-color: #ffed00;
        }
    }

    .leaf4 {
        @include transform(rotateZ(180deg) scale(1.1));

        &::before {
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
            background-color: #000
        }
    }
}

//animation
@include keyframes(folding, folding animation) {

    0%,
    10% {
        @include transform(perspective(140px) rotateX(-180deg));
        @include opacity(0);
    }

    25%,
    75% {
        @include transform(perspective(140px) rotateX(0deg));
        @include opacity(1);
    }

    90%,
    100% {
        @include transform(perspective(140px) rotateY(180deg));
        @include opacity(0);
    }
}

//with loading text and shadow
.cube-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -$size;
    margin-left: -$size;
    width: $size * 2;
    height: $size * 2;
    text-align: center;

    //shadow
    .loading {
        font-size: 16px;
        letter-spacing: 0.1em;
        display: block;
        color: #000;
        position: relative;
        top: 25px;
        z-index: 2;
        @include animation(text 0.5s ease infinite alternate);
    }
}

@include keyframes(text, text animation) {
    100% {
        top: 27.5px;
    }
}

.loader-text {
    margin-top: 200px;
}

//LOADER


//LOGIN

.login-page {
    input {
        padding: 10px;
    }

    .login-form {
        width: 400px;
    }

    .register-form {
        width: 400px;
    }
}

//LOGIN

//CERTIFICATION


//CERTIFICATION

//ABOUT

.about-page {
    @media screen and (max-width:992px) {
        margin-top: 100px;
    }
}

//ABOUT

//CONTACT

.contact{
    @media screen and (max-width:992px) {
        margin-top: 125px;
    }
}

//CONTACT